body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.profile-card {
 display: flex;

 border: 1px solid #dadada;
 background-color: white;

 min-width: 525px;
 margin-right: 40px;

 padding: 20px;
 border-radius: 2px;
}

.pfp {
  border: 1px solid #dadada;
  padding: 5px;
  margin-right: 15px;
}

.profile-card > p {
  margin: 2px;
}

.pf-info {
  flex-wrap: wrap;
  flex-direction: column;
}

.category {
  display: flex;

  border: 1px solid #dadada;
  background-color: white;

  flex-direction: column;
  margin-right: 40px;

  padding: 20px;
  border-radius: 2px;
}





.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 500;
  background-color: #8755CC;
  color: #fff;
}

.navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

a {
  color: #343434;
}

a:hover,
a:focus {
  color: #8755CC;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
}

.navlink.active {
  box-shadow: inset 0 -3px #8755CC;
}


.bi.bi-wifi-off {
  font-size: 40px;
}

.hidden {
  display: none;
}
