/*
Name: Stanley Hale
Email: halesta@oregonstate.edu
Class: CS290
Assignment : 1
Due: 11:59pm on 4/25/2022
*/

html {
  background-color: orange;

}

footer {
  background-color: white;
  /*
  background-origin: content-box;
  background-position: bottom;
  */
}

body {
  background-color: white;
  border: 1px solid black;
  padding: 10px;
}

ul {
  background: white;
  padding: 10px;
  border: 1px solid black;
}

/*
ol {
  padding: 10px;
}
*/

li {
  margin-left: 20px;
}

a:hover {
  text-decoration: none;
}
